html {
      font-family: sans-serif;
      text-shadow: 1.5px 1.5px 2px grey;

}

table {
      border-spacing: 0px;
}

input {
      width: 100%;
      padding: 6px;
      border: 0;
      border-radius: 4px;

}

button{
      width: 24px;
      height: 24px;
      border-radius: 4px; 
      background-color: white;   
      border: 0;
}

button:hover {
      cursor: pointer;
      color:  blue;
      transition: 0.4s;
      background-color: lightgrey;
}


#Tableau-Header {
      width: 800px;
      height: 30px;

}

#Tableau-Header .table-row {
      background-color: grey;
      background-image: linear-gradient(to right, #0047b3 ,  #0066ff);
     
}

#Tableau-Header .table-row .table-cell {
      border: 0;
      padding: 5px;
      padding-left: 10px;
      color: white;

}

#Tableau-Controls{
      width: 800px;
      height: 30px;
}

#Tableau-Controls .table-row {
      background-color: #C5C6C7;
}

#Tableau-Controls .table-row .table-cell {
      border: 0;
      padding: 10px 20px 10px 10px;
      color: white;
}

#DataTable {
      width: 800px;

}

#DataTable .table-row {
      max-height: 40px;
}
#DataTable .table-row .table-cell{
      height: 40px;
}

#DataTable .table-row:nth-child(2n) {
      background-color: lightgrey;
}
#DataTable .table-row .table-cell:nth-child(1), #DataTable .table-row .table-cell:nth-child(2) {
      width: 25%;
}

#DataTable .table-row .table-cell:nth-child(3) {
      width: 35%;
}
#DataTable .table-row .table-cell:nth-child(4) {
      width: 15%;
}


#DataTable .table-row .table-cell {
      border: 0;
      padding: 5px 10px;
}

#DataTable .table-row:hover {
      background-color: #3385ff;
      transition: background 0.3s;
      color: white;
}

.overlay{
      display: none;
      opacity: 0.5;
      background-color: grey;
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 18;
}

.popup{
      width: 25%;
      height: 15%;
      min-width: 200px;
      min-height: 100px;
      top: 37.5%;
      left: 37.5%;
      margin-left: -(width/2);
      margin-right: -(height/2);
      position: absolute;
      z-index: 20;
      background-color: white;
      text-align: center;
      padding: 20px;
      box-shadow: 25px 20px 100px black;
}

.btn-popup{
      width: 50px;
      margin: 20px;
      background-color: lightgrey;
      font-weight: bold;
}

.table{
      display: table;
}

.table-row{
      display: table-row;
}

.table-cell{
      display: table-cell;
}

.disabled{
      pointer-events: none;
      user-select: none;
}

.show{
      display: block;
}

.invisible{
      display: none;
}

.wrapper{
      width: 800px;
      box-shadow: 25px 20px 100px black;
      border-radius: 7px;
      margin:auto;
      margin-top: 50px;
      overflow: hidden;
}

.HiddenWrapper {
      height: 300px;
      widows: 100%;
      overflow-y: scroll;
}

.MarginWrapper {
      width: 24px;
      margin: auto;   
}

.CurrentEdit {
      background-color: #3385ff !important;
      color: white;
}